*{
    padding: 0;
    margin:0;
    font-family: Ubuntu;
    transition: 1s;
}
.card {
    padding-top: 12px;
    border: 1px solid black;
    border-radius: 50px;
    text-align: center;
}
.card h1, h2 {
    text-align: center;
}
.card button {
    margin: 50px;
    padding: 12px;
    background: blue;
    color:white;
    border: 0.5px solid blue;
    border-radius: 12px;
    cursor: pointer;
}
.card button:hover {
    background: white;
    color:blue;
    border: 0.5px solid blue;
}
.shoppingcart {
    padding-top: 1pc;
    padding-bottom: 2pc;
}